{% extends 'base/base.html' %}

{% block title %}Index View{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>Item 1</th>
            <th>Item 2</th>
            <th>Item 3</th>
        </thead>
        <tbody>
            <tr>
                <td>article uno</td>
                <td>article dos</td>
                <td>article tres</td>
            </tr>
            <tr>
                <td>Cuatro</td>
                <td>Cinco</td>
                <td>Seis</td>
            </tr>
            <tr>
                <td>Siete</td>
                <td>Ocho</td>
                <td>Nueve</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}